<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Quản lý user</title>-->
<!--    <th:block th:replace="/layout/head :: head"/>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<div class="preloader">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="lds-ripple">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="lds-pos"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="lds-pos"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"-->
<!--     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">-->
<!--    <th:block th:replace="/layout/navBar :: navBar"/>-->
<!--    <th:block th:replace="/layout/sideBar :: sideBar"/>-->

<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    &lt;!&ndash;Primary Content&ndash;&gt;-->
<!--    <div class="page-wrapper">-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; Bread crumb and right sidebar toggle &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        <div class="page-breadcrumb bg-white">-->
<!--            <div class="row align-items-center">-->
<!--                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">-->
<!--                    <h4 class="page-title">Danh sách user</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.col-lg-12 &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; End Bread crumb and right sidebar toggle &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; Container fluid  &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        <div class="container-fluid bgr-color">-->
<!--            <div class="row mb-2">-->
<!--                <div class="col text-end">-->
<!--                    <button class="btn btn-outline-primary" id="createUser"><i class="fa fa-plus-square"></i> Tạo-->
<!--                        user mới-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col text-center">-->
<!--                    <table class="display" id="tblUser">-->
<!--                        <thead>-->
<!--                        <tr class="color-text">-->
<!--                            <th>#</th>-->
<!--                            <th>ADMIN</th>-->
<!--                            <th>BARTENDER</th>-->
<!--                            <th>EMAIL</th>-->
<!--                            <th>PHONE</th>-->
<!--                            <th>USER NAME</th>-->
<!--                            <th>VENDOR</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row mt-2">-->
<!--                <div class="col text-end">-->
<!--                    <a class="btn btn-outline-danger" id="deletedUser" th:href="@{/users/deleted}"><i-->
<!--                            class="fa fa-trash"></i> Danh sách user đã xóa-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; End Container fluid  &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; footer &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        <th:block th:replace="layout/footer :: footer"/>-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; End footer &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<!--<div class="loader hide"></div>-->
<!--<th:block th:replace="layout/script :: script"/>-->
<!--<th:block th:replace="user/modalCreate :: modalCreate"/>-->
<!--&lt;!&ndash;<th:block th:replace="users/modalEdit :: modalEdit"/>&ndash;&gt;-->
<!--&lt;!&ndash;<th:block th:replace="users/modalDelete :: modalDelete"/>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="/assets/assetsLayout/App/appUser.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="/assets/assetsLayout/App/validatedUser.js"></script>&ndash;&gt;-->
<!--<script>-->
<!--    // var listUser = [[${users}]];-->
<!--    $(document).ready(function (){-->
<!--        $("#tblUser").DataTable({-->
<!--            ajax: {-->
<!--                contentType: 'application/json',-->
<!--                url: "http://localhost:8080/api/users",-->
<!--                type : "GET",-->
<!--                dataSrc: ''-->
<!--            },-->
<!--            columns: [-->
<!--                {data: 'id'},-->
<!--                {data: 'admin'},-->
<!--                {data: 'bartender'},-->
<!--                {data: 'email'},-->
<!--                {data: 'phone'},-->
<!--                {data: 'userName'},-->
<!--                {data: 'vendor'},-->


<!--                // {-->
<!--                //     data: 'id', render: function (data, type, row, meta) {-->
<!--                //         return `<button class="btn btn-outline-danger deleteUser" data-id="${data}"><i class="fa fa-ban"></i></button>`;-->
<!--                //     }, orderable: false, searchable: false-->
<!--                // },-->
<!--            ],-->

<!--        });-->
<!--    })-->
<!--</script>-->
<!--<script>-->
<!--    $("#createUser").on("click",function () {-->
<!--        $("#modalCreate").modal("show");-->
<!--        // createUser();-->
<!--    })-->
<!--    // $("#createUser").on("click", function () {-->
<!--    //     $.ajax({-->
<!--    //         contentType: 'application/json',-->
<!--    //         type: "GET",-->
<!--    //         url: "http://localhost:8080/api/users",-->
<!--    //         // dataSrc : ''-->
<!--    //     })-->
<!--    //         .done(function (data) {-->
<!--    //             // let str = "";-->
<!--    //             // for (let i = 0; i < data.length; i++) {-->
<!--    //             //     let staff = data[i];-->
<!--    //             //     str += `-->
<!--    //             //     <option value="${staff.id}">${staff.name}</option>-->
<!--    //             // `;-->
<!--    //             // }-->
<!--    //             // $("#staffCre").prepend(str);-->
<!--    //             // console.log(data)-->
<!--    //         })-->
<!--    //         .fail(function () {-->
<!--    //             window.location = "/errors";-->
<!--    //         })-->
<!--    //         .always(function () {-->
<!--    //         })-->
<!--    //-->
<!--    //     $("#modalCreate").modal("show");-->
<!--    // });-->
<!--    // handlerActionUser();-->

<!--</script>-->
<!--</body>-->
<!--</html>-->