<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MIDATRI COFFE USER</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="/admin/layout/head :: head"/>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Start Header Top Area -->
<th:block th:replace="/admin/layout/navBar :: navBar"/>
<!-- Main Menu area End-->
<!-- Breadcomb area Start-->
<div class="breadcomb-area">
    <div class="container-fluid" style="width: 100%">
        <div class="row">
            <div class="row">
                <div class="breadcomb-list" style="background-color: #CDDC39">
                    <div class="row mb-lg-2 ">
                        <div class="col-6">
                            <h1>Quản lý người dùng</h1>
                        </div>
                        <div class="col-3">
                            <div class="col text-end">
                                <button class="btn btn-outline-light bg-primary" id="createUser"><i
                                        class="fa fa-plus-square"></i> Thêm người dùng mới
                                </button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="col text-end">
                                <a class="btn btn-outline-danger " href="/user/restoreUser">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    Danh sách người dùng đã xóa</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="table-responsive">
                        <div class="showHide">
                            <b>Show/Hide Column</b>
                            <a class="showHideColumn" data-columnindex="0">#</a>-
                            <a class="showHideColumn" data-columnindex="1">Full Name</a>-
                            <a class="showHideColumn" data-columnindex="2">User Name</a>-
                            <a class="showHideColumn" data-columnindex="3">Email</a>-
                            <a class="showHideColumn" data-columnindex="4">Phone</a>-
                            <a class="showHideColumn" data-columnindex="5">Admin</a>-
                            <a class="showHideColumn" data-columnindex="6">Bartender</a>-
                            <a class="showHideColumn" data-columnindex="7">Vendor</a>-
                            <a class="showHideColumn" data-columnindex="8">Action</a>
                        </div>
                        <table id="tblUser" class="table table-striped display nowrap" style="width: 100%">
                            <thead>
                            <tr style="background-color: #11cc9d">
                                <th>#</th>
                                <th>Full Name</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Admin</th>
                                <th>Bartender</th>
                                <th>Vendor</th>
                                <th scope="col" class="text-center fw-bold">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->
<!-- Start Footer area-->
<div class="footer-copyright-area">
    <div class="container">
        <div class="row">
            <th:block th:replace="/admin/layout/footer :: footer"/>
        </div>
    </div>
</div>
<th:block th:replace="/admin/layout/script :: script"/>
<th:block th:replace="/admin/user/modalCreate :: modalCreate"/>
<th:block th:replace="/admin/user/modalEdit :: modalEdit"/>
<th:block th:replace="/admin/user/modalDelete ::modalDelete"/>
<th:block th:replace="/admin/user/modalRestoreUser :: modalRestoreUser"/>
</body>
<script>
    $(document).ready(function () {
            var tableUser = $("#tblUser").DataTable({
                    ajax: {
                        contentType: 'application/json',
                        url: location.origin + "/api/users",
                        type: "GET",
                        dataSrc: ''
                    },
                    paging: true,
                    sort: true,
                    searching: true,
                    lengthMenu: [
                        [5, 10, 15, -1],
                        ['5', '10', '15', 'All']
                    ],
                    order: [0, "desc"],
                    select: true,

                    columns: [
                        {data: 'id'},
                        {data: 'fullName'},
                        {data: 'userName'},
                        {data: 'email'},
                        {data: 'phone'},
                        {data: 'admin',
                        render : function (data) {
                            if(data === true   ){
                                return `<p STYLE="color: #0a53be">ADMIN</p>`
                            }else
                                return `<p style="color: #CC6600">USER</p>`
                        }},
                        {data: 'bartender',
                        render : function (data) {
                            if(data === true) {
                                return `<td><i class="fa fa-check" aria-hidden="true"></i></td>`
                            }else
                                return ``
                        }},
                        {data: 'vendor',
                        render: function (data){
                            if(data === true) {
                                return `<td><i class="fa fa-check" aria-hidden="true"></i></td>`
                            }else
                                return ``
                        }},
                        {data: null},
                    ],
                    columnDefs: [
                        {
                            targets: -1,
                            className: "text-center",
                            orderable: false,
                            render: function (data, type, row, meta) {
                                return `<button  class="btn btn-outline-warning editUser cssAction" onclick="handlerShowUserEdit(${data.id})" data-id="${data.id}"><i class="fa fa-edit"></i></button>
                                    <button  class="btn btn-outline-danger delUser cssDelete" onclick="handleShowDeleteForm(${data.id})" data-id="${data.id}"><i class="fa fa-archive"></i></button>
                                                    `;
                            }
                        }
                    ]
                },

                $('.showHideColumn').on('click', function (e) {
                    e.preventDefault();
                    let tableColumn = tableUser.column($(this).attr('data-columnindex'));
                    tableColumn.visible(!tableColumn.visible());
                }),
            )
        }
    )

    $("#createUser").on("click", function () {
        $("#modalCreate").modal("show")
    });

</script>
<script type="module" src="/assets/admin/js/api/api.js"></script>
<script src="/js/validateUser.js"></script>

</html>

