<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalEdit">
    <div class="modal" tabindex="-1" id="modalEdit">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cập nhật user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">
                    </div>
                    <form id="frmEditUser">
                        <input type="hidden" id="idEdit">
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="usernameEdit" class="form-label fw-bold ">Tên đăng nhập:</label>
                                <input type="text" class="form-control" id="usernameEdit" name="usernameEdit" required>
                            </div>
                            <div class="col col-md-6">
                                <label for="fullNameEdit" class="form-label fw-bold ">Tên người dùng:</label>
                                <input type="text" class="form-control" id="fullNameEdit" name="fullNameEdit" required>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="phoneEdit" class="form-label fw-bold">Số điện thoại:</label>
                                <input type="phone" class="form-control text-end" id="phoneEdit" name="phoneEdit"
                                       required>
                            </div>
                            <div class="col col-md-6">
                                <label for="emailEdit" class="form-label fw-bold">Email:</label>
                                <input type="email" class="form-control" id="emailEdit" name="emailEdit" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="bartenderEdit" class="form-label fw-bold"> Người chế biến:</label>
<!--                                <input type="radio" name="check" id="true">Có</input>-->
<!--                                <input type="radio" name="check" id="false">Không</input>-->
                                <select class="form-select" id="bartenderEdit">
                                    <option value="true">Có</option>
                                    <option value="false">Không</option>
                                </select>
                            </div>
                            <div class="col col-md-6">
                                <label for="vendorEdit" class="form-label fw-bold"> Người bán:</label>
                                <select class="form-select" id="vendorEdit">
                                    <option value="true">Có</option>
                                    <option value="false">Không</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary edit" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-primary" id="btnEdit">Cập nhật</button>
                </div>

            </div>
        </div>
    </div>
    <script src="/js/App.js"></script>
    <script>
        function editUser() {
            let editUser = new User();
            editUser.id = $("#idEdit").val();
            editUser.userName = $("#usernameEdit").val();
            editUser.fullName = $("#fullNameEdit").val();
            editUser.phone = $("#phoneEdit").val();
            editUser.email = $("#emailEdit").val();
            editUser.vendor =$('#vendorEdit').val();
            editUser.bartender=$("#bartenderEdit").val();
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "PUT",
                url: "http://localhost:8080/api/users/edit/" + editUser.id,
                data: JSON.stringify(editUser)

            }).done(function (data) {
                console.log(data.vendor);
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Thay đổi thông tin người dùng thành công',
                    showConfirmButton: false,
                    timer: 4000
                })
                let tableUser = $("#tblUser").DataTable();
                // console.log(tableUser.row(editUser.id));
                // tableUser.row().data({
                //     "id": data.id,
                //     "email": data.email,
                //     "phone": data.phone,
                //     "fullName": data.fullName,
                //     "username": data.userName
                // }).draw('full-hold');

                tableUser.ajax.reload(null, false);

                $("#modalEdit").modal("hide");

            }).fail((e) => {
                console.log(e)
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "Dữ liệu bạn nhập không chính xác!!",
                    // footer: '<a href="">Why do I have this issue?</a>'
                })
            })
        }

        function handlerShowUserEdit(id) {
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                type: "GET",
                url: "http://localhost:8080/api/users/" + id
            })
                .done((data) => {
                    $("#idEdit").val(data.id);
                    $("#usernameEdit").val(data.userName);
                    $("#fullNameEdit").val(data.fullName);
                    $("#phoneEdit").val(data.phone);
                    $("#emailEdit").val(data.email);
                    $("#vendorEdit").val(data.vendor);
                    $("#bartenderEdit").val(data.bartender);
                    $("#modalEdit").modal("show");
                    // $("#idEdit").val(data.id);
                    console.log(data);
                })

            $("#btnEdit").on('click', function () {
                editUser();

            })
            // $("#btnEdit").on('click', function () {
            //     let currentRow = $(this).parents('tr');
            //     editUser(currentRow);
            //     $("#btnEdit").trigger("submit")
            //
            // })
            //     .fail()
            // Swal.fire({
            //     icon: 'error',
            //     title: 'Oops...',
            //     text: 'Something went wrong!',
                // footer: '<a href="">Why do I have this issue?</a>'
            // })

        }
    </script>
    <!--    <script src="/js/validateUser.js"></script>-->
</th:block>
