<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalCreate">
    <div class="modal" tabindex="-1" id="modalCreate">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tạo user mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">
                    </div>
                    <form id="frmCreateUser">
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="userName" class="form-label fw-bold">Tên đăng nhập:</label>
                                <input type="text" class="form-control" id="userName" name="userName" required>
                            </div>
                            <div class="col col-md-6">
                                <label for="fullName" class="form-label fw-bold">Tên người dùng:</label>
                                <input type="text" class="form-control" id="fullName" name="fullName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="password" class="form-label fw-bold">Mật khẩu:</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="col col-md-6">
                                <label for="email" class="form-label fw-bold">Email:</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="password1" class="form-label fw-bold">Nhập Lại Mật khẩu:</label>
                                <input type="password" class="form-control" id="password1" name="password1">
                            </div>
                            <div class="col col-md-6">
                                <label for="phone" class="form-label fw-bold">Phone:</label>
                                <input type="tel" class="form-control" id="phone" name="phone">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-primary" id="btnCreateUser">Tạo user</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#btnCreateUser").on("click", function () {
            $("#frmCreateUser").submit();
        });

        function createUser() {
            // checkPassword();
            let newUser = {
                userName: $('#userName').val(),
                fullName: $('#fullName').val(),
                password: $('#password').val(),
                phone: $('#phone').val(),
                email: $('#email').val(),
                admin: false
            }
            console.log(newUser);
            api.user.create(
                newUser,
                (data) => {
                    console.log(data, "data");
                    let item = data;
                    let str = `
                    <tr id="tr_${item.id}">
                       <th>${item.userName}</th>
                       <th>${item.fullName}</th>
                       <th>${item.password}</th>
                       <th>${item.phone}</th>
                       <th>${item.email}</th>
                    </tr>
                        `;
                    $("tblUser tbody").append(str);
                        Toast.success("Thêm mới thành công ");
                    $('#tblUser').DataTable().ajax.reload();
                    $('#modalCreate').modal("hide");
                    $("#frmCreateUser")[0].reset();
                },
                (jqXHR) => {
                    console.log(jqXHR);
                }
            )
        }
    </script>
</th:block>
