<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>
    <th:block th:replace="/admin/layout/head::head"/>
    <script>
        window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
        )
        window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
        )
        window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
        )
    </script>

    <!--  <meta name="description" content="">-->
    <!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--  &lt;!&ndash; favicon-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">-->
    <!--  &lt;!&ndash; Google Fonts-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">-->
    <!--  &lt;!&ndash; Bootstrap CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--  &lt;!&ndash; Bootstrap CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/font-awesome.min.css">-->
    <!--  &lt;!&ndash; owl.carousel CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/owl.carousel.css">-->
    <!--  <link rel="stylesheet" href="css/owl.theme.css">-->
    <!--  <link rel="stylesheet" href="css/owl.transitions.css">-->
    <!--  &lt;!&ndash; meanmenu CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/meanmenu/meanmenu.min.css">-->
    <!--  &lt;!&ndash; animate CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/animate.css">-->
    <!--  &lt;!&ndash; normalize CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/normalize.css">-->
    <!--  &lt;!&ndash; mCustomScrollbar CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/scrollbar/jquery.mCustomScrollbar.min.css">-->
    <!--  &lt;!&ndash; jvectormap CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/jvectormap/jquery-jvectormap-2.0.3.css">-->
    <!--  &lt;!&ndash; notika icon CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/notika-custom-icon.css">-->
    <!--  &lt;!&ndash; wave CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/wave/waves.min.css">-->
    <!--  &lt;!&ndash; main CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/main.css">-->
    <!--  &lt;!&ndash; style CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="style.css">-->
    <!--  &lt;!&ndash; responsive CSS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <link rel="stylesheet" href="css/responsive.css">-->
    <!--  &lt;!&ndash; modernizr JS-->
    <!--      ============================================ &ndash;&gt;-->
    <!--  <script src="js/vendor/modernizr-2.8.3.min.js"></script>-->
    <th:block th:replace="/admin/layout/head::head"/>
    <th:block th:replace="/admin/layout/navBar :: navBar"/>


</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Start Header Top Area -->

<!-- End Header Top Area -->
<!-- Mobile Menu start -->
<div class="mobile-menu-area">
    <div class="container">

    </div>
</div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<!---->
</div>
<!-- Main Menu area End-->
<!-- Start Status area -->
<!-- <div class="notika-status-area"> -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                <div class="white-box analytics-info">
                    <h4 class="box-title">Doanh thu bán hàng hôm nay</h4>

                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <i class="fa fa-dollar text-success" style="font-size: 50px"></i>
                        </li>
                        <li class="ms-auto">
                            <span class="counter text-primary" id="totalInDay">
                                <tr><td style="font-size: larger"></td></tr>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Số bill trong ngày</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <i class="fa fa-bell text-success" style="font-size: 50px"></i>
                        <li class="ms-auto text-success">
                            <span class="counter text-purple" id="billToday">
                                <div id="billInDay" class="text-center">
                                </div>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Doanh thu trong tháng</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>

                            <i class="fa fa-calendar text-info" style="font-size: 50px"></i>
                        </li>
                        <li class="ms-auto"><span class="counter text-info" id="totalToMonth"></span>
                            <tr>
                                <td></td>
                            </tr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                <div class="website-traffic-ctn">
                    <h2><span class="counter">1,000</span></h2>
                    <p>Total Support Tickets</p>
                </div>
                <div class="sparkline-bar-stats4">2,4,8,4,5,7,4,7,3,5,7,5</div>
            </div>
        </div> -->
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="sale-statistic-inner notika-shadow mg-tb-30">
                <div class="curved-ctn row d-flex">
                    <div class="col-9 align-items-end">
                        <div class="row d-flex">
                            <h2 class="col-9">Doanh thu 7 ngày qua</h2>
                            <div class="col-3">
                                <select class="form-select" id="selectChart">
                                    <!--                                <option value="/chartLastDay">Hôm qua</option>-->
                                    <!--                                <option value="/chartByDay">Hôm nay</option>-->
                                    <option value="/chartLast7Day">7 ngày qua</option>
                                    <option value="/chartByMonth">Tháng này</option>
                                    <option value="/chartByLastMonth">Tháng trước</option>
                                </select>
                            </div>
                        </div>
                        <div id="curved-line-chart 1">
                            <div id="myChart">
                            </div>
                        </div>
                    </div>
                    <div id="showBill" class="col-3 text-primary">
                        <h1 class="text-success">Các đơn hàng vừa thanh toán</h1>
                        <tr>
                            <td></td>
                        </tr>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12">
            <div class="sale-statistic-inner notika-shadow mg-tb-30">
                <div class="curved-ctn row d-flex">
                    <div class="col-9 align-items-end">
                        <h2>Doanh thu hôm qua</h2>
                        <div id="curved-line-chart 2">
                            <div id="myChart2">
                            </div>
                        </div>
                        <div class="col-3">
                            <select class="form-select col-3" id="selectChart2">
                                <option value="/chartLastDay">Hôm qua</option>
                                <option value="/chartByDay">Hôm nay</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
        <!--            <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0">-->
        <!--                <div class="past-day-statis">-->
        <!--                    <h2 style="color: #0a53be">Top 7 hàng hóa bán chạy trong tuần qua</h2>-->
        <!--                    <table id="bar-chart">-->
        <!--                        <tr>-->
        <!--                            <td>Tên sản phẩm</td>-->
        <!--                            <td>Số doanh thu</td>-->
        <!--                        </tr>-->
        <!--                    </table>-->
        <!--                </div>-->
        <!--                <div class="dash-widget-visits"></div>-->
        <!--                <div class="past-statistic-an">-->
        <!--                    <div class="past-statistic-graph">-->
        <!--                        <div class="stats-bar"></div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
</div>


</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <h1>Top 7 thức uống bán chạy nhất trong tuần qua</h1>
                <div class="col-3">
                    <select class="form-select col-3" id="selectChart1">
                        <option value="/totalOneDay">Hôm nay</option>
                        <option value="/totalLastDay">Hôm qua</option>
                        <option value="/chart">7 ngày qua</option>
                        <option value="/totalMonth ">Tháng này</option>
                        <option value="/totalLastMonth">Tháng trước</option>
                    </select>
                </div>
                <div id="chart1">

                </div>
            </div>

        </div>

    </div>


</div>
<th:block th:replace="/admin/layout/script :: script"/>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<th:block th:replace="/admin/layout/footer :: footer"/>
</body>
<script>
    var _seed = 42;
    Math.random = function () {
        _seed = _seed * 16807 % 2147483647;
        return (_seed - 1) / 2147483646;
    };

    function renderChartProduct(line) {
        let myChart1 = document.querySelector("#chart1");
        myChart1.innerHTML = '';
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: location.origin + "/api/order" + line,
        }).done((data) => {
            console.log(data)
            let total = [];
            let name = [];
            var options1;
            $.each(data, (i, item) => {
                total.push(item.total);
                name.push(item.title);
            })
            options1 = {
                series: [{
                    data: total
                }],
                chart: {
                    type: 'bar',
                    height: 350,
                },
                plotOptions: {
                    bar: {
                        // columnWidth: '15%',
                        borderRadius: 4,
                        horizontal: true,
                    }
                },

                dataLabels: {
                    enabled: false,
                },
                xaxis: {
                    categories: name,

                }
            };

            myChart1 = new ApexCharts(document.querySelector("#chart1"), options1);
            myChart1.render();
        })
    }

    function renderChartInDay(line1) {
        let myChart1 = document.querySelector("#myChart2");
        myChart1.innerHTML = '';
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: location.origin + "/api/order" + line1,
        }).done((data) => {
            let total = [];
            let day = [];
            var options2;
            $.each(data, (i, item) => {
                total.push(item.total);
                day.push(moment(item.dates).format());
                console.log("day: ", day);
            })
            options2 = {
                series: [{
                    data: [...total]
                }],
                chart: {
                    type: 'bar',
                    height: 350,
                },
                plotOptions: {
                    bar: {
                        columnWidth: '15%',
                        borderRadius: 4,
                        horizontal: false,
                    }
                },

                dataLabels: {
                    enabled: true,
                },
                xaxis: {
                    categories: [...day],
                }
            };

            myChart1 = new ApexCharts(document.querySelector("#myChart2"), options2);
            myChart1.render();
        })
    }


    // =========================

    function totalLastDay(text) {
        let myChart = document.querySelector("#myChart");
        myChart.innerHTML = '';
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: location.origin + "/api/order" + text,
        }).done((data) => {
            let totals = [];
            let day = [];
            var options;
            $.each(data, (i, item) => {
                day.push(moment(item.dates).date());
                totals.push(item.total);
                // console.log('totals: ', totals)
            })
            options = {
                series: [{
                    data: [...totals]
                }],
                chart: {
                    type: 'bar',
                    height: 350,
                },
                plotOptions: {
                    bar: {
                        // columnWidth: '15%',
                        borderRadius: 4,
                        horizontal: false,
                    }
                },

                dataLabels: {
                    enabled: true,
                },
                xaxis: {
                    categories: [...day],

                }
            };
            myChart = new ApexCharts(document.querySelector("#myChart"), options);
            myChart.render();
        })
    }

    // ------------------------

    function totalLast7Day(text) {
        let myChart = document.querySelector("#myChart");
        myChart.innerHTML = '';
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: location.origin + "/api/order" + text,
        }).done((data) => {
            let totals = [];
            let day = [];
            var options;
            $.each(data, (i, item) => {
                day.push(moment(item.dates).date());
                totals.push(item.total);
                // console.log('totals: ', totals)
            })
            options = {
                series: [{
                    data: [...totals]
                }],
                chart: {
                    type: 'bar',
                    height: 350,
                },
                plotOptions: {
                    bar: {
                        // columnWidth: '15%',
                        borderRadius: 4,
                        horizontal: false,
                    }
                },

                dataLabels: {
                    enabled: true,
                },
                xaxis: {
                    categories: [...day],

                }
            };
            myChart = new ApexCharts(document.querySelector("#myChart"), options);
            myChart.render();
        })
    }

    // ------------
    $('#selectChart').on('change', function () {
        let text = $('#selectChart').val();
        totalLastDay(text);
    });

    $('#selectChart1').on('change', function () {
        let line = $('#selectChart1').val();
        renderChartProduct(line);
    })
    $('#selectChart2').on('change', function () {
        let line1 = $('#selectChart2').val();
        renderChartInDay(line1);
    })

    // bill to day
    function renderBillToDay() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: location.origin + "/api/orderItem/billToDay",
        }).done((data) => {
            let str = `
                <tr>
                <td>${data[0].bills}</td>
</tr>
                `;
            $("#billInDay").append(str);
        });
    }

    // Format money
    function FormatMoney(money) {
        let str = money.toString();
        return str.split('').reverse().reduce((prev, next, index) => {
            return ((index % 3) ? next : (next + '.')) + prev;
        });
    }

    function renderToTalMonth() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: location.origin + "/api/order/allTotalMonth",
        }).done((data) => {
            let str = `
                <tr>
                <td>${FormatMoney(data[0].total)} ₫</td>

                </tr>
                `;
            $("#totalToMonth").append(str);
        });
    }

    renderChartInDay("/chartLastDay");
    renderToTalMonth();

    renderBillToDay();
    totalLast7Day('/chartLast7Day');
    renderChartProduct('/totalOneDay');


    function showBill() {

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: location.origin + "/api/order/showBill",
        }).done((data) => {
            $.each(data, (i, item) => {
                let str = `
                <tr>
                <td>${item.username} Vừa bán đơn hàng với giá ${FormatMoney(data[0].total)} ₫ lúc ${moment(item.dates).minutes()} phút trước </td>
                </tr>
                `;
                $("#showBill").append(str);
            })
        });
    }

    showBill();

    //total to day
    function renderToTalToDay() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: location.origin + "/api/order/allTotalToDay",
        }).done((data) => {
            let str = `
                <tr>
                <td>${FormatMoney(data[0].total)} ₫</td>
                </tr>
                `;
            $("#totalInDay").append(str);
        });
    }

    renderToTalToDay();
</script>
</html>