<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Register</title>
    <link rel="stylesheet" href="/toast/iziToast.min.css">
    <th:block th:replace="/admin/layout/head::head"/>
    <style>
        .ress {
            position: fixed;
            top: 0;
            left: 0;
            background-color: red;
        }
        .ress1 {
            top: 50px;
            left: 10px;
        }
    </style>
</head>
<body>
<!-- Login Register area Start-->
<form id="formExample">
    <div class="login-content">
        <!-- Login -->
        <div class="nk-block toggled" id="l-login">
            <div class="nk-form">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" placeholder="Username" id="userNameLogin">
                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                    <div class="nk-int-st">
                        <input type="password" class="form-control" placeholder="Password" id="passwordLogin">
                    </div>
                </div>
                <div class="fm-checkbox">
                    <label><input type="checkbox" class="i-checks"> <i></i> Keep me signed in</label>
                </div>
                <button id="submitLogin"
                        type="button"
                        class="btn btn-login btn-success btn-float">
                    <i class="notika-icon notika-right-arrow right-arrow-ant"></i>
                </button>
            </div>

            <div class="nk-navigation nk-lg-ic">
                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-register"><i
                        class="notika-icon notika-plus-symbol"></i> <span>Register</span></a>
                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
            </div>

        </div>
        <!-- Register -->
        <!--        <div class="nk-block" id="l-register">-->
        <!--            <div class="nk-form">-->
        <!--                <div class="input-group">-->
        <!--                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>-->
        <!--                    <div class="nk-int-st">-->
        <!--                        <input type="text" class="form-control" placeholder="Username" name="userNameCre"-->
        <!--                               id="userNameCre">-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="input-group">-->
        <!--                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>-->
        <!--                    <div class="nk-int-st">-->
        <!--                        <input type="text" class="form-control" placeholder="Full Name" name="fullNameCre"-->
        <!--                               id="fullNameCre">-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="input-group mg-t-15">-->
        <!--                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>-->
        <!--                    <div class="nk-int-st">-->
        <!--                        <input type="text" class="form-control" placeholder="Phone" name="phoneCre" id="phoneCre">-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="input-group mg-t-15">-->
        <!--                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>-->
        <!--                    <div class="nk-int-st">-->
        <!--                        <input type="text" class="form-control" placeholder="Email Address" name="emailCre"-->
        <!--                               id="emailCre">-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="input-group mg-t-15">-->
        <!--                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>-->
        <!--                    <div class="nk-int-st">-->
        <!--                        <input type="password" class="form-control" placeholder="Password" name="passwordCre"-->
        <!--                               id="passwordCre">-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="input-group mg-t-15">-->
        <!--                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>-->
        <!--                    <div class="nk-int-st">-->
        <!--                        <input type="password" class="form-control" placeholder="rePassword" name="rePasswordCre"-->
        <!--                               id="rePasswordCre">-->
        <!--                    </div>-->
        <!--                </div>-->


        <!--                <button id="submitRes"-->
        <!--                        type="button"-->
        <!--                        class="btn btn-login btn-success btn-float">-->
        <!--                    <i class="notika-icon notika-right-arrow right-arrow-ant"></i>-->
        <!--                </button>-->
        <!--            </div>-->

        <!--            <div class="nk-navigation rg-ic-stl">-->
        <!--                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-login"><i-->
        <!--                        class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>-->
        <!--                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        &lt;!&ndash; Forgot Password &ndash;&gt;-->
        <!--        <div class="nk-block" id="l-forget-password">-->
        <!--            <div class="nk-form">-->
        <!--                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur-->
        <!--                    commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>-->

        <!--                <div class="input-group">-->
        <!--                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>-->
        <!--                    <div class="nk-int-st">-->
        <!--                        <input type="text" class="form-control" placeholder="Email Address">-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login"-->
        <!--                   class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>-->
        <!--            </div>-->

        <!--            <div class="nk-navigation nk-lg-ic rg-ic-stl">-->
        <!--                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-login"><i-->
        <!--                        class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>-->
        <!--                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-register"><i-->
        <!--                        class="notika-icon notika-plus-symbol"></i> <span>Register</span></a>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--    </div>-->
    </div>
</form>

<div>
    <button class="btn btn-outline-success my-3 ress" onclick="notLoginDashboard()"><a style="color: white" >Vào dashboard Không Cần Đăng Nhập</a></button>
</div>
<div>
    <button class="btn btn-outline-success my-3 ress ress1" onclick="notLoginOrder()"><a style="color: white">Vào Order Không Cần Đăng Nhập</a></button>
</div>
<!-- Login Register area End-->
<script defer src="/assets/registerUser/res.js"></script>
<script defer src="/jquery-validation/dist/jquery.validate.min.js"></script>
<script defer src="/toast/iziToast.min.js"></script>
<th:block th:replace="/admin/layout/script::script"/>
<script>
    $("#formExample").validate({
        rules: {
            username: 'required',
            fullName: 'required',
            phone: 'required',
            email: 'required',
            password: 'required',
            rePasswordCre: 'required'

        },
        messages: {
            username: 'Không được bỏ trống',
            fullName: 'Không được bỏ trống',
            phone: 'Không được bỏ trống',
            email: 'Không được bỏ trống',
            password: 'Không được bỏ trống',
            rePasswordCre: 'Không được bỏ trống'
        }
    })
</script>
</body>
</html>