<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
        )
        window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
        )
        window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
        )
    </script>


    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <th:block th:replace="/admin/layout/script :: script"/>

    <script>
        // Replace Math.random() with a pseudo-random number generator to get reproducible results in e2e tests
        // Based on https://gist.github.com/blixt/f17b47c62508be59987b
        var _seed = 42;
        Math.random = function () {
            _seed = _seed * 16807 % 2147483647;
            return (_seed - 1) / 2147483646;
        };
    </script>
</head>
<body>
<div id="chart"></div>
<script th:inline="javascript">

    // /*<![CDATA[*/
    // let theList = /*[[${taotest}]]*/''
    // /*]]>*/
    // let items = theList[0]
function render(){
    $.ajax({
        headers: {
            "accept": "application/json",
            "content-type": "application/json"
        },
        type: "GET",
        url: "http://localhost:8080/api/order/chart",
    }).done((data)=>{
        console.log(data)
        let sl = [];
        let name= [];
        $.each(data,(i,item)=>{
            sl.push(item.total);
            name.push(item.title);

        })
        console.log(sl)
        console.log(name)
        var options = {
            series: [{
                data: sl
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    borderRadius: 4,
                    horizontal: false,
                }
            },
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: name,
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    })
}
   render();

    // var options = {
    //     series: [{
    //         data: items
    //     }],
    //     chart: {
    //         type: 'bar',
    //         height: 350
    //     },
    //     plotOptions: {
    //         bar: {
    //             borderRadius: 4,
    //             horizontal: false,
    //         }
    //     },
    //     dataLabels: {
    //         enabled: false
    //     },
    //     xaxis: {
    //         categories: ['South Korea', 'Canada', 'United Kingdom', 'Netherlands', 'Italy', 'France', 'Japan',
    //             'United States', 'China', 'Germany'
    //         ],
    //     }
    // };
    //
    // var chart = new ApexCharts(document.querySelector("#chart"), options);
    // chart.render();

    const chartItem = [];

</script>
<!--<script>-->

<!-- -->


<!--</script>-->

</body>
</html>