<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" lang="en">
    <th:block th:fragment="leftTable">
        <link rel="stylesheet" href="/assets/admin/css/style-sidebar.css">

        <div class=" ">
            <div class="">
                <div class=" ">
                    <h3 class="" id="btnShowMenuType">
                        Loại thực đơn
                        <a class="">
                            <i class="fa fa-chevron-circle-up"></i>
                        </a>
                    </h3>
                    <div class="" id="menuType">
                        <ul class="">
<!--                            <li  class="">-->
<!--                                <div class="blue">-->
<!--                                    <input type="checkbox" id="action" class="thucDon" data-label="Đồ ăn" >-->
<!--                                    <a href="javascript:void(0)" tabindex="0" class=""></a>-->
<!--                                    <label  class="">Đồ ăn</label>-->
<!--                                </div>-->
<!--                            </li>-->

                        </ul>
                    </div>
                </div>
                <div class="">
                    <h3 class="" >Nhóm hàng
                        <span class="">
                    <a onclick="handelCreateCategory()"  href="javascript:void(0)" title="Thêm nhóm hàng">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                    <a class="" id="btnShowGroupProduct">
                        <i class="fa fa-chevron-circle-up"></i>
                    </a>
                </span>
                    </h3>
                    <div class="" id="groupProduct">
                        <div >
                            <div class="">
                                <div class=""><i class="fa fa-search"></i>
                                    <input type="text"  placeholder="Tìm kiếm nhóm hàng">
                                </div>
                            </div>
                            <div class="">
                                <div id="idProductCatTreeAll" onclick="`${alert('mmm')}`"
                                     class="fw-bold">
                                    Tất cả
                                    <a class="" title="Sửa nhóm hàng">
                                        <i class="fa fa-pen">
                                        </i>
                                    </a>
                                </div>
                                <div id="productCatTreeView">
                                    <ul class="" role="tree" >
<!--                                        <li role="treeitem" class="" data-uid="">-->
<!--                                            <div class="" >-->
<!--                                            <span class="k-in">-->
<!--                                            <span id="bia"  onclick="`${alert('aaa')}`" >BIA &amp; THUỐC LÁ</span>-->
<!--                                            <a class="" onclick="`${alert('bb')}`" title="Sửa nhóm hàng">-->
<!--                                            <i class="fa fa-pencil"></i>-->
<!--                                        </a>-->
<!--                                        </span>-->
<!--                                            </div>-->
<!--                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <h3 class="" >
                        Lựa chọn hiển thị
                    </h3>

                    <div class=" ">
                        <ul class="">
                            <li class="">
                                <div class="">
                                    <input type="radio"  data-label="Hàng đang Kinh doanh" >
                                    <a href="javascript:void(0)" tabindex="0" class="checked"></a>
                                    <label  class="checked">Hàng đang Kinh doanh</label>
                                </div>
                            </li>
                            <li class="">
                                <div class="blue">
                                    <input type="radio"  name="ActiveRadio"  data-label="Hàng ngừng Kinh doanh" >
                                    <a href="javascript:void(0)" tabindex="0" class=""></a>
                                    <label  class="">Hàng ngừng Kinh doanh</label>
                                </div>
                            </li>
                            <li class="">
                                <div class="">
                                    <input type="radio"  data-label="Tất cả" >
                                    <a href="javascript:void(0)" tabindex="0" class=""></a>
                                    <label  class="">Tất cả</label></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <th:block th:replace="/admin/layout/script::script"/>
        <th:block th:replace="/admin/category/modalUpdateCategory::modalUpdateCategory"/>
        <th:block th:replace="/admin/category/modalCreateCategory::modalCreateCategory"/>


        <script>
            function getAllCategory(){
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-type": "application/json"
                    },
                    type: "GET",
                    url: "http://localhost:8080/api/category",
                })
                    .done(function (data) {
                            $.each(data, (i,item)=>{
                               let str = `<li role="treeitem" class="" data-uid="">
                                            <div class="" >
                                            <span class="k-in">
                                            <span id="" data-label="${item.id}">${item.categoryName}</span>
                                            <a class="" id="" onclick="handelUpdateCategory(${item.id})" title="Sửa nhóm hàng">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        </span>
                                            </div>
                                        </li>`
                                $("#productCatTreeView ul").append(str);
                            })
                    })
                    .fail(function (jqXHR) {
                        console.log("get drinks fails");
                    })
            }

            function getAllCategoryParent(){
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-type": "application/json"
                    },
                    type: "GET",
                    url: "http://localhost:8080/api/category/parent",
                })
                    .done(function (data) {
                        $.each(data, (i,item)=>{
                            let str = `
                                    <li  class="">
                                <div class="blue">
                                    <input type="checkbox" id="action" class="thucDon" data-label="${item.categoryName}" >
                                    <a href="javascript:void(0)" tabindex="0" class=""></a>
                                    <label  class="">${item.categoryName}</label>
                                </div>
                            </li>
                            `

                            $("#menuType ul").append(str);

                        })
                        handelCheckbox();
                    })
                    .fail(function (jqXHR) {
                        console.log("get drinks fails");
                    })
            }
            getAllCategory();
            getAllCategoryParent();
         function handelCheckbox(){


             $('input[type="checkbox"]').on('click', function (){
                 if($(this).prop("checked") === true){
                     console.log($(this).context.dataset.label);

                 }
                 else if($(this).prop("checked") === false) {
                     console.log("a")
                 }
             });
         }

         function handelUpdateCategory(id){
             $("#parentCategoryUpdate option").remove();
             let category;
             $.ajax({
                 headers: {
                     "Accept": "application/json",
                     "Content-type": "application/json"
                 },
                 type: "GET",
                 url: "http://localhost:8080/api/category/"+id
             })
                 .done((data) =>{
                     category=data;
                     $("#idCategoryUpdate").val(category.id);
                     $("#nameCategoryUpdate").val(category.categoryName);
                     $.ajax({
                         headers: {
                             "Accept": "application/json",
                             "Content-type": "application/json"
                         },
                         type: "GET",
                         url: "http://localhost:8080/api/category/parent",
                     })
                         .done(function (data) {
                             for (let i = 0; i < data.length; i++) {
                                 let id = data[i].id;
                                 let name = data[i].categoryName;
                                 let parent = data[i].parentId
                                 if(category.parentId==id){
                                     $("#parentCategoryUpdate").append(`<option value=${id} selected>${name}</option>`);
                                 }else {
                                     $("#parentCategoryUpdate").append(`<option value=${id}>${name}</option>`);
                                 }
                             }

                         })
                         .fail(function (jqXHR) {
                             console.log("get drinks fails");
                         })

                 })
                 .fail(()=>{
                     console.log("error");
                 })
             $("#modalUpdateCategory").modal("show");
         }
         function handelCreateCategory(){
                     $.ajax({
                         headers: {
                             "Accept": "application/json",
                             "Content-type": "application/json"
                         },
                         type: "GET",
                         url: "http://localhost:8080/api/category/parent",
                     })
                         .done(function (data) {
                             for (let i = 0; i < data.length; i++) {
                                 let id = data[i].id;
                                 let name = data[i].categoryName;
                                 let parent = data[i].parentId

                                     $("#parentCategoryCreate").append(`<option value=${id}>${name}</option>`);
                                 }

                         })
                         .fail(function (jqXHR) {
                             console.log("get drinks fails");
                         })
                     $("#modalCreateCategory").modal("show");
         }

        </script>

    </th:block>

    </html>


