<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="menuTable">
  <th:block th:replace="/admin/layout/head :: head"/>
  <div class="">
    <div class="">
      <h3 class="" >
        Lựa chọn hiển thị
      </h3>
      <div class="form-check " >
        <ul class="" >
          <li class="switchPageAll">
            <div class="">
              <input type="radio" class="form-check-input" id="ActiveRadio2" name="ActiveRadio" data-label="Tất cả phòng/bàn" >
              <a href="http://localhost:8080/table-top" tabindex="0" ></a>
              <label  class="form-check-label" for="ActiveRadio2">Phòng/Bàn có thể sử dụng</label></div>
          </li>
          <li class="">
            <div class="switchPageUse">
              <input type="radio" class="form-check-input" name="ActiveRadio" id="ActiveRadio" data-label="Phòng/Bàn đang hoạt động" >
              <a href="http://localhost:8080/table-top/showWaitTable" tabindex="0" class=""></a>
              <label  class="form-check-label" for="ActiveRadio">Phòng/Bàn đang hoạt động</label>
            </div>
          </li>
          <li class="switchPageRes">
            <div class="blue">
              <input type="radio" class="form-check-input" name="ActiveRadio" id="ActiveRadio1" data-label="Phòng/Bàn ngừng hoạt động" >
              <a href="http://localhost:8080/table-top/restoreTable" tabindex="0" class=""></a>
              <label  class="form-check-label" for="ActiveRadio1">Phòng/Bàn ngừng hoạt động</label>
            </div>
          </li>

        </ul>
      </div>
    </div>
    <div >
      <input id="myInput" class="form-control" placeholder="search">
    </div>
  </div>
  <th:block th:replace="/admin/layout/script::script"/>
<script>

  $(function(){
    $('.switchPageRes').on('click',function(e){
      window.location.href ="http://localhost:8080/table-top/restoreTable";
      e.preventDefault();
    });
  });
  $(function(){
    $('.switchPageUse').on('click',function(e){
      window.location.href ="http://localhost:8080/table-top/showWaitTable";
      e.preventDefault();
    });
  });
  $(function(){
    $('.switchPageAll').on('click',function(e){
      window.location.href ="http://localhost:8080/table-top";
      e.preventDefault();
    });
  });
</script>
</th:block>