<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="rightTable">
    <section class="mainLeft ng-scope">
        <kv-product-filter>
            <article class="boxLeft uln sortTime sortView fr">
                <h3 class="leftTitle ng-binding">Tìm kiếm</h3>
                <aside class="boxLeftC">
                    <div class="form-group">
                        <input type="text"  placeholder="Theo mã, tên hàng" ></div>
                </aside>
            </article>
            <article class="boxLeft uln leftStatus" ng-show="pTypeFilter.length > 1">
                <h3 class="leftTitle ng-binding" id="btnShowMenuType">
                Loại thực đơn
                    <a class="showhideicon">
                        <i class="fa fa-chevron-circle-up"></i>
                    </a>
                </h3>
                <aside class="boxLeftC hide" id="menuType">
                    <ul class="pretty-checkbox-mobile"><!-- ngRepeat: productGroup in productGroupsListObject -->
                        <li ng-repeat="productGroup in productGroupsListObject" class="ng-scope has-pretty-child">
                            <div class="clearfix prettycheckbox labelright  blue">
                                <input type="checkbox"  class="thucDon" data-label="Đồ ăn" >
                                <a href="javascript:void(0)" tabindex="0" class=""></a>
                                <label  class="">Đồ ăn</label>
                            </div>
                        </li>
                        <!-- end ngRepeat: productGroup in productGroupsListObject -->
                        <li ng-repeat="productGroup in productGroupsListObject" class="ng-scope has-pretty-child">
                            <div class="clearfix prettycheckbox labelright  blue">
                                <input type="checkbox" class="thucDon" data-label="Đồ uống">
                                <a href="javascript:void(0)" tabindex="0" class=""></a>
                                <label  class="">Đồ uống</label>
                            </div>
                        </li>
                        <!-- end ngRepeat: productGroup in productGroupsListObject -->
                        <li ng-repeat="productGroup in productGroupsListObject" class="ng-scope has-pretty-child">
                            <div class="clearfix prettycheckbox labelright  blue">
                                <input type="checkbox"  class="thucDon" data-label="Khác">
                                <a href="javascript:void(0)" tabindex="0" class="">
                            </a>
                                <label  class="">Khác</label>
                            </div>
                        </li>
                        <!-- end ngRepeat: productGroup in productGroupsListObject -->
                    </ul>
                </aside>
            </article>
            <article class="boxLeft uln leftStatus">
                <h3 class="leftTitle ng-binding" id="btnShowProduct">
                    Loại hàng
                    <a class="showhideicon">
                        <i class="fa fa-chevron-circle-up"></i>
                    </a>
                </h3>
                <aside class="boxLeftC hide" id="filterProduct">
                    <ul class="pretty-checkbox-mobile">
                        <li class="has-pretty-child">
                            <div class="clearfix prettycheckbox labelright  blue">
                                <input type="checkbox" class="filterProduct">
                                <a href="javascript:void(0)" tabindex="0" class=""></a>
                                <label  class="">Hàng hóa</label>
                            </div>
                        </li>
                        <li ng-show="appSetting.UseImei" class="has-pretty-child ng-hide">
                            <div class="clearfix prettycheckbox labelright  blue">
                                <input type="checkbox" class="filterProduct">
                                <a href="javascript:void(0)" tabindex="0" class=""></a>
                                <label  class="">Hàng hóa - Serial/IMEI</label>
                            </div>
                        </li>
                        <li ng-show="appSetting.UseManufacturing" class="has-pretty-child ng-hide">
                            <div class="clearfix prettycheckbox labelright  blue">
                                <input type="checkbox" class="filterProduct" data-label="Hàng hóa - sản xuất" >
                                <a href="javascript:void(0)" tabindex="0" class=""></a>
                                <label  class="">Hàng hóa - sản xuất</label>
                            </div>
                        </li>
                        <li class="has-pretty-child">
                            <div class="clearfix prettycheckbox labelright  blue">
                                <input type="checkbox" class="filterProduct" data-label="Chế biến" >
                                <a href="javascript:void(0)" tabindex="0" class=""></a>
                                <label  class="">Chế biến</label>
                            </div>
                        </li>
                        <li class="has-pretty-child">
                            <div class="clearfix prettycheckbox labelright  blue">
                                <input type="checkbox" class="filterProduct">
                                <a href="javascript:void(0)" tabindex="0" class=""></a>
                                <label  class="">Dịch vụ</label>
                            </div>
                        </li>
                        <li class="has-pretty-child">
                            <div class="clearfix prettycheckbox labelright  blue">
                                <input type="checkbox" class="filterProduct">
                                <a href="javascript:void(0)" tabindex="0" class=""></a>
                                <label  class="">Combo - Đóng gói</label>
                            </div>
                        </li>
                    </ul>
                </aside>
            </article>
            <article class="boxLeft uln sortTime proGroup sortView posR">
                <h3 class="leftTitle ng-binding" id="btnShowGroupProduct">Nhóm hàng
                <span class="left-group-btn">
                    <a ng-click="EditCategory()" href="javascript:void(0)" title="Thêm nhóm hàng">
                    <i class="far fa-plus-circle">

                </i>
                </a>
                    <a class="showhideicon">
                        <i class="fa fa-chevron-circle-up"></i>
                </a>
                </span>
            </h3>
                <aside class="boxLeftC hide" id="groupProduct">
                    <kv-product-category-selector custom-icon="far fa-pen" on-selected="filterByCategory" on-custom-action="EditCategory" use-custom-action="true" custom-title="Sửa nhóm hàng" use-drop-and-drag="true" class="ng-isolate-scope">
                        <div class="search-autocomplete productTreeSearch">
                            <div class="autocomplete"><i class="far fa-search"></i>
                                <input type="text"  placeholder="Tìm kiếm nhóm hàng">
                            </div>
                        </div>
                        <div class="productCatTree">
                            <!-- ngIf: !isSearchMatch -->
                            <div id="idProductCatTreeAll"
                                 class="treeAll kv-state-selected ng-binding">
                                Tất cả
                                <a class="edittreeview" title="Sửa nhóm hàng">
                                <i class="far fa-pen">
                            </i>
                            </a>
                            </div>
                            <div id="productCatTreeView">
                                <ul class="k-group k-treeview-lines" role="tree">
                                    <li role="treeitem" class="k-item k-first" data-uid="">
                                        <div class="k-top k-top ng-scope" ><span class="k-in">
                                            <span>
                                            <span class="nametreeview" id="bia">BIA &amp; THUỐC LÁ</span>
                                            <a class="edittreeview" title="Sửa nhóm hàng">
                                            <i class="far fa-pen"></i>
                                        </a>
                                        </span>
                                        </span>
                                        </div>
                                    </li>
                                    <li role="treeitem" class="k-item" data-uid="">
                                        <div class="k-mid ng-scope">
                                            <span class="k-in"><span>
                                                <span class="nametreeview" id="cock">CLASSIC COCKTAILS</span>
                                                <a class="edittreeview" title="Sửa nhóm hàng">
                                                    <i class="far fa-pen"></i>
                                                </a>
                                            </span>
                                            </span>
                                        </div>
                                    </li>

                                        <div class="k-mid ng-scope">
                                            <span class="k-in"><span>
                                                <span class="nametreeview" id="khaivi">MÓN KHAI VỊ</span>
                                                <a class="edittreeview"  title="Sửa nhóm hàng">
                                                    <i class="far fa-pen"></i>
                                                </a>
                                            </span>
                                            </span>
                                        </div>
                                    </li>
                                        <div class="k-mid ng-scope">
                                            <span class="k-in"><span>
                                                <span class="nametreeview" id="">SÚP</span>
                                                <a class="edittreeview" title="Sửa nhóm hàng">
                                                    <i class="far fa-pen">
                                                </i>
                                                </a>
                                            </span>
                                            </span>
                                        </div>
                                    </li>
                                    <li role="treeitem" class="k-item k-last">
                                        <div class="k-bot ng-scope">
                                            <span class="k-in"><span>
                                                <span class="nametreeview" id=" ">TEA</span>
                                                <a class="edittreeview"  title="Sửa nhóm hàng">
                                                    <i class="far fa-pen"></i>
                                                </a>
                                            </span>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </kv-product-category-selector>
                </aside>
            </article>
<!--            <article class="boxLeft uln leftStatus ng-hide" >-->
<!--                <h3 class="leftTitle ng-binding">-->
<!--                    Lọc theo tích điểm-->
<!--                    <a class="showhideicon" >-->
<!--                        <i class="fa fa-chevron-circle-up"></i>-->
<!--                    </a>-->
<!--                </h3>-->
<!--                <aside class="boxLeftC" >-->
<!--                    <ul class="pretty-radio-mobile">-->
<!--                        <li class="has-pretty-child">-->
<!--                            <div class="clearfix prettyradio labelright  blue">-->
<!--                                <input type="radio"  data-label="Tất cả"  checked="checked">-->
<!--                                <a href="javascript:void(0)" tabindex="0" class="checked"></a>-->
<!--                                <label  class="checked">Tất cả</label>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="has-pretty-child">-->
<!--                            <div class="clearfix prettyradio labelright  blue">-->
<!--                                <input type="radio"  data-label="Tích điểm" >-->
<!--                                <a href="javascript:void(0)" tabindex="0" class=""></a>-->
<!--                                <label  class="">Tích điểm</label>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="has-pretty-child">-->
<!--                            <div class="clearfix prettyradio labelright  blue">-->
<!--                                <input type="radio"  data-label="Không tích điểm" >-->
<!--                                <a href="javascript:void(0)" tabindex="0" class=""></a>-->
<!--                                <label  class="">Không tích điểm</label>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </aside>-->
<!--            </article>-->
            <article class="boxLeft uln sortTime sortView fr ng-hide" ng-show="attributeList.length > 0 &amp;&amp; appSetting.UseVariants">
                <h3 class="leftTitle ng-binding">Thuộc tính <a class="showhideicon" ng-click="showVariant = !showVariant">
                <i class="fa fa-chevron-circle-up"></i>
            </a>
            </h3>
                <aside class="boxLeftC" >
                    <div class="hideSelect">
                        <!-- ngRepeat: item in attributeList -->
                    </div>
                    <div class="text-center">
                        <a class="show-more ng-binding"  href="javascript:void(0)" >
                            Mở rộng
                            <i class="far fa-arrow-up"></i>
                        </a>
                    </div>
                </aside>
            </article>
            <article class="boxLeft reportHide uln sortBranch branchLeft sortShelves ng-hide" ng-show="shelveses.data().length > 0">
                <h3 class="leftTitle ng-binding">
                    Vị trí
                    <a class="showhideicon" ng-click="showShelves = !showShelves">
                        <i class="fa fa-chevron-circle-up"></i>
                    </a>
                </h3>
                <aside class="boxLeftC" ng-hide="showShelves">
                    <div class="form-group">
                        <div class="k-widget k-multiselect k-header form-control" unselectable="on" title="" style="">
                            <div class="k-multiselect-wrap k-floatwrap" unselectable="on">
                                <ul role="listbox" unselectable="on" class="k-reset"></ul>
                                <input class="k-input k-readonly">
                                <span class="k-icon k-loading k-loading-hidden"></span>
                            </div>
                            <select  class="form-control"  aria-readonly="false"></select>
                            <span
                                style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-stretch: 100%; font-style: normal; font-weight: 400; letter-spacing: normal; text-transform: none; line-height: 17.03px; position: absolute; visibility: hidden; top: -3333px; left: -3333px;">Chọn vị trí</span>
                        </div>
                    </div>
                </aside>
            </article>
            <article class="boxLeft reportHide uln sortTime sortView">
                <h3 class="leftTitle cursor ng-binding">
                    Lựa chọn hiển thị
                </h3>
                <aside class="boxLeftC">
                    <ul class="pretty-radio-mobile">
                        <li class="has-pretty-child">
                            <div class="clearfix prettyradio labelright  blue">
                                <input type="radio"  data-label="Hàng đang Kinh doanh" >
                                <a href="javascript:void(0)" tabindex="0" class="checked"></a>
                                <label  class="checked">Hàng đang Kinh doanh</label>
                            </div>
                        </li>
                        <li class="has-pretty-child">
                            <div class="clearfix prettyradio labelright  blue">
                                <input type="radio"  name="ActiveRadio"  data-label="Hàng ngừng Kinh doanh" >
                                <a href="javascript:void(0)" tabindex="0" class=""></a>
                                <label  class="">Hàng ngừng Kinh doanh</label>
                            </div>
                        </li>
                        <li class="has-pretty-child">
                            <div class="clearfix prettyradio labelright  blue">
                                <input type="radio"  data-label="Tất cả" >
                                <a href="javascript:void(0)" tabindex="0" class=""></a>
                                <label  class="">Tất cả</label></div>
                        </li>
                    </ul>
                </aside>
            </article>
            <aside class="boxLeftC page-size" ng-show="viewtype == typeList"><label  class="ng-binding">Số bản
                ghi:</label>
                <span title="" class="k-widget k-dropdown k-header form-dropdown" unselectable="on" role="listbox" aria-haspopup="true" style="">
                    <span>
                        <span unselectable="on" class="k-input ng-scope">10</span>
                        <span unselectable="on" class="k-select">
                            <span unselectable="on" class="k-icon k-i-arrow-s">select</span>
                        </span>
                    </span>
                    <select class="form-dropdown">
                <option value="10" selected="selected">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
                </span>
            </aside>
        </kv-product-filter>
        <div class="wrap-button-footer">
            <button kv-mobile="" type="button" class="kv2Btn">Hoàn tất</button>
        </div>
    </section>

</th:block>

</html>