<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=" icon" type="image/ico" href="/assets/assetsLayout/plugins/images/favicon.ico">
    <!-- Custom CSS -->
    <link href="/assets/assetsLayout/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/assetsLayout/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="/assets/assetsLayout/css/style.min.css" rel="stylesheet">
    <link href="/assets/assetsLayout/css/appStyle.css" rel="stylesheet">
    <link href="/assets/assetsLayout/css/preview_image.css" rel="stylesheet">


    <link href="/assets/assetsLayout/fontawesome/css/all.min.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet">
</th:block>