<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/Logo.png">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/font-awesome.min.css">
    <!-- Data Table JS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/jquery.dataTables.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/assetsLayout/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/assetsLayout/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
<!--    <link rel="stylesheet" href="/assets/assetsLayout/css/jvectormap/jquery-jvectormap-2.0.3.css">-->
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/assetsLayout/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/assets/assetsLayout/js/vendor/modernizr-2.8.3.min.js"></script>
</th:block>