<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->

<!--<head>-->

<!--    <th:block th:replace="/admin/layout/head :: head"/>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Báo Cáo Ngày</title>-->
<!--</head>-->

<!--<body>-->


<!--&lt;!&ndash; Page Wrapper &ndash;&gt;-->
<!--<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"-->
<!--     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">-->
<!--    <th:block th:replace="/admin/layout/navBar :: navBar"/>-->

<!--    <div class="row ">-->
<!--        <div class="col-md-1"></div>-->
<!--        <div class="col-md-10" >-->
<!--            <div class="normal-table-list mg-t-30">-->
<!--                <div class="basic-tb-hd text-center">-->
<!--                    <h1>Báo Cáo Ngày</h1>-->
<!--                    <h6 class="fw-light">Ngày Bán :-->
<!--                        <input id="dateReport" type="date" value="" min="01-10-2011" max="31-12-2042" placeholder="dd-mm-yyyy"/>-->
<!--                    </h6>-->

<!--                </div>-->
<!--                <div class="bsc-tbl-hvr table-responsive ">-->
<!--                    <table class="table table-hover table-striped" id="tblReport" >-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>#</th>-->
<!--                            <th>Thời gian</th>-->
<!--                            <th>Nhân Viên</th>-->
<!--                            <th style="width: 120px">Số Lượng</th>-->
<!--                            <th>Doanh thu</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tfoot >-->
<!--                        <tr>-->
<!--                            <th colspan="4" class="fw-bold" style="text-align:right">Tổng Doanh Thu :</th>-->
<!--                            <th style="text-align:right"></th>-->
<!--                        </tr>-->
<!--                        </tfoot>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-1"></div>-->
<!--    </div>-->

<!--    <th:block th:replace="/admin/layout/footer :: footer"/>-->
<!--</div>-->
<!--<th:block th:replace="/admin/layout/script :: script"/>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>aaaaaaaaaaa</h1>
</body>
</html>