<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalCreate">
    <div class="modal" tabindex="-1" id="modalCreate">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tạo user mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">
                    </div>
                    <form id="frmCreateUser">
                        <div class="row">
                            <div class="col text-center">
                                <!--                                <label for="uploadCre" class="form-label fw-bold">Ảnh đại diện:</label>-->
                                <!--                <img id="previewImg" width="100px" class="img-circle mb-2" src="/assets/plugins/images/users/1.jpg"/>-->
                                <!--                <input id="uploadCre" type="file" accept="image/*" hidden />-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="userName" class="form-label fw-bold">Tên đăng nhập:</label>
                                <input type="text" class="form-control" id="userName" name="userName">
                            </div>
                            <div class="col col-md-6">
                                <label for="password" class="form-label fw-bold">Mật khẩu:</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-primary" id="btnCreateUser">Tạo user</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#btnCreateUser").on("click", function () {
            createUser();
        });

        function createUser() {
            let newUser = {
                username: $('#userName').val(),
                password: $('#password').val()
            }
            console.log(newUser);
            api.user.create(
                newUser,
                (data) => {
                    console.log(data + "data");
                    $.each(data, (i, item) => {
                        let str = `
                    <tr id="tr_${item.id}">
                       <th>${item.userName}</th>
                       <th>${item.password}</th>
                    </tr>
                        `;
                        $("tblUser tbody").append(str);
                    })
                },
                (jqXHR) => {
                    console.log(jqXHR.error);
                }
            )
        }

        // $("#modalCreate").on('hidden.bs.modal', function () {
        //   $("#modalCreate .modal-body .modal-alert-danger").empty();
        //   $("#modalCreate .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
        //   $("#modalCreate input.error").removeClass("error");
        //   $("#staffCre option").remove();
        //   $("#frmCreateUser")[0].reset();
        // });

        // $("#previewImg").on('click', function () {
        //   $('#uploadCre').trigger('click');
        // })

        // $('#uploadCre').change(function(){
        //   const file = this.files[0];
        //   if (file){
        //     let reader = new FileReader();
        //     reader.onload = function(event){
        //       $('#previewImg').attr('src', event.target.result);
        //     }
        //     reader.readAsDataURL(file);
        //   }
        // });

    </script>
</th:block>
