<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MIDATRI COFFE TABLE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="/admin/layout/head :: head"/>
</head>

<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Start Header Top Area -->
<th:block th:replace="/admin/layout/navBar :: navBar"/>
<!-- Main Menu area End-->
<!-- Breadcomb area Start-->
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="breadcomb-list" style="background-color: #8BC34A">
                <div class="row mb-lg-2 ">
                    <div class="col-12 text-center">
                        <h1>Phòng/Bàn</h1>
                    </div>
                    <th:block th:replace="/admin/layout/menuTable ::menuTable"/>
                </div>

            </div>
            <div class="col text-end">
                <button class="btn btn-outline-light bg-primary" id="createTable"><i
                        class="fa fa-plus-square"></i> Thêm bàn mới
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- Breadcomb area End-->
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="table-responsive">
                        <table id="tblTop" class="table table-striped">
                            <thead>
                            <tr class="bg-success">
                                <th>Tên phòng/bàn</th>
                                <th>Ghi chú</th>
                                <th>Số ghế</th>
                                <th>Trạng thái</th>
                                <th>Số thứ tự</th>
                                <th scope="col" class="text-center fw-bold"></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->
<!-- Start Footer area-->
<div class="footer-copyright-area">
    <div class="container">
        <div class="row">
            <th:block th:replace="/admin/layout/footer :: footer"/>
        </div>
    </div>
</div>
<th:block th:replace="/admin/layout/script :: script"/>
<th:block th:replace="/admin/table/modalCreateTable :: modalCreateTable"/>
<th:block th:replace="/admin/table/modalEditTable :: modalEditTable"/>
<th:block th:replace="/admin/table/modalDeleteTable ::modalDeleteTable"/>
<!--<th:block th:replace="/admin/table/restoreTable :: restoreTable"/>-->
</body>
<script>

    // render list table
    $(document).ready(function () {
        $("#tblTop").DataTable({
                ajax: {
                    contentType: 'application/json',
                    url: "http://localhost:8080/api/table-top/unavaliable",
                    type: "GET",
                    dataSrc: ''
                },
                lengthMenu: [
                    [5, 10, 15, -1],
                    ['5', '10', '15', 'All']
                ],
                // dom: 'Bfrtip',
                // buttons: [
                //     'copy', 'csv', 'excel', 'pdf', 'print'
                // ],
                searching: false,
                select: true,
                columns: [
                    {data: 'title'},
                    {data: 'content'},
                    {data: 'capacity'},
                    {
                        data: 'status',
                        render: function (data) {
                            if (data != "UNAVAILABLE") {
                                return `<p style="color: #0B792F">ĐANG SỬ DỤNG </p>`
                            }
                        }
                    },
                    {data: "id"},
                    {
                        data: 'id',
                        render: function (data, type, row, meta) {
                            return `<button class="btn btn-outline-warning editUser cssAction" onclick="handlerShowTableEdit(${data})" data-id="${data}"><i class="fa fa-edit"></i></button>
                                   `;
                        }, orderable: false
                    },
                ]
                ,
            }
        )

    })
    // end render list table


    // edit table
    function updateTable() {
        let editTable = new TableTop();
        editTable.id = $("#idTableEdit").val();
        editTable.capacity = $("#capacityEdit").val();
        editTable.title = $("#titleEdit").val();
        editTable.status = $("#statusTableEdit :selected").val();
        editTable.content = $("#contentEdit").val();
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "PUT",
            url: "http://localhost:8080/api/table-top/edit/",
            data: JSON.stringify(editTable)
        }).done(function (data) {
                console.log("data", data);
                // Swal.fire({
                //     position: 'top-end',
                //     icon: 'success',
                //     title: 'Cập nhập thông tin thành công',
                //     showConfirmButton: false,
                //     timer: 4000
                //
                // })
                Toast.success("Thay đổi thông tin thành công");
                $('#tblTop').DataTable().ajax.reload();
                $('#modalEditTable').modal("hide");
                $("#frmEditTable")[0].reset();

            }
        ).fail(function (jqXHR) {
            console.log(jqXHR);
            // Toast.warning("Dữ liệu bạn nhập không chính xác");
            //     Swal.fire({
            //         icon: 'error',
            //         title: 'Oops...',
            //         text: "Dữ liệu bạn nhập không chính xác!!",
            //     })
        })
    }

    function handlerShowTableEdit(id) {
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/table-top/" + id
        })
            .done((data) => {
                $("#idTableEdit").val(data.id);
                $("#capacityEdit").val(data.capacity);
                $("#statusTableEdit").find(":selected").val(data.status);
                $("#titleEdit").val(data.title);
                $("#contentEdit").val(data.content);
                $("#modalEditTable").modal("show");
            })
    }

    // end edit table


    $("#createTable").on("click", function () {
        $("#modalCreateTable").modal("show")
    });
    $("#btnEditTable").on("click", function () {
        $("#frmEditTable").submit();
    });
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tblTop tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</html>

