<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalRestoreTable">
    <div class="modal" tabindex="-1" id="modalRestoreTable">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Khôi phục bàn </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">
                    </div>
                    <form id="frmRestoreTable">
                        <div class="row">
                            <label for="idTableRestore" class="form-label fw-bold">Số thứ tự :</label>
                            <input type="text" class="form-control" id="idTableRestore" readonly>
                            <div class="col col-md-12">
                                <label for="capacityTableRestore" class="form-label fw-bold">Số ghế:</label>
                                <input type="number" class="form-control" id="capacityTableRestore"
                                       name="capacityTable" readonly>
                            </div>
                            <div class="col col-md-12">
                            <label for="titleTableRestore" class="form-label fw-bold">Tên bàn  :</label>
                            <input type="text" class="form-control" id="titleTableRestore"
                                   name="titleTableRestore" readonly>
                        </div>

                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <label for="contentTableRestore" class="form-label fw-bold">Ghi chú :</label>
                                <input type="text" class="form-control" id="contentTableRestore"
                                       name="contentTableRestore" readonly>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-ban"></i>Cancel
                    </button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-outline-primary" id="btnRestore"><i class="fa fa-plus"></i>Khôi
                        phục
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>

        function restoreTable() {
           let id = $("#idTableRestore").val();

            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                url: "http://localhost:8080/api/table-top/restore/" + id,
                type: "POST"
            })
                .done(function (data) {
                    $("#tblRestore").DataTable().ajax.reload();
                    $('#modalRestoreTable').modal("hide");
                    $("#frmRestoreTable")[0].reset();
                })

        }
        function handleShowRestoreTable(id) {
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                type: "POST",
                url: "http://localhost:8080/api/table-top/restore/" + id
            }).done((data)=>{
                    $('#idTableRestore').val(data.id);
                    $('#statusTableRestore').val(data.status);
                    $('#capacityTableRestore').val(data.capacity);
                    $('#contentTableRestore').val(data.content);
                    $('#titleTableRestore').val(data.title);
                    $('#modalRestoreTable').modal('show');
                    $('#btnRestore').on('click', function () {
                        restoreTable();
                        $('#btnRestore').removeClass("show");
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Đưa bàn này quay lại sử dụng thành công',
                            showConfirmButton: false,
                            timer: 2000

                        })
                    })
                }
            )
        }


    </script>
</th:block>
