<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Data Table | Notika - Notika Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="/admin/layout/head :: head"/>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<th:block th:replace="/admin/layout/navBar :: navBar"/>
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="breadcomb-list">
                <div class="row mb-2">
                    <div class="col text-end">
                        <a href="/table-top"> Quay lại trang
                        </a><i class="fa fa-plus-square"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="table-responsive">
                        <table id="tblRestore" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Tên phòng/bàn</th>
                                <th>Ghi chú</th>
                                <th>Số lượng ghế</th>
                                <th>Trạng thái</th>
                                <th>Số thứ tự</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->
<!-- Start Footer area-->
<div class="footer-copyright-area">
    <div class="container">
        <div class="row">
            <th:block th:replace="/admin/layout/footer :: footer"/>
        </div>
    </div>
</div>
<th:block th:replace="/admin/layout/script :: script"/>
<th:block th:replace="/admin/table/modalRestoreTable :: modalRestoreTable"/>
</body>
<script>
    $(document).ready(function renderRestoreTable() {
      let restoreTable=  $("#tblRestore").DataTable({
            ajax: {
                contentType: 'application/json',
                url: "http://localhost:8080/api/table-top/renderNotUseTable",
                type: "GET",
                dataSrc: ''
            },
            columns: [
                {data: 'title'},
                {data: 'content'},
                {data: 'capacity'},
                {
                    data: 'status', render: function (status) {
                        if (status == "UNAVAILABLE") {
                            return `<td>Ngừng hoạt động</td>`
                        }
                    }
                },
                {data: 'id'},
                {
                    data: 'id',
                    render: function (data, type, row, meta) {
                        return `<button class="btn btn-outline-primary " onclick="handleShowRestoreTable(${data})" data-id="${data}"><i class="fa fa-plus"></i></button>
                                    `;
                    }, orderable: false
                },
            ],
        });
        // setInterval(function () {
        //     table.ajax.reload(null, false); // user paging is not reset on reload
        // }, 1000);
        // table.on('select.dt deselect.dt', function () {
        //     localStorage.setItem('DataTables_selected', table.rows({selected: true}).toArray())
        // })
    });

</script>
<script>

</script>
<script type="module" src="/assets/admin/js/api/api.js"></script>
</html>

