<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="/admin/layout/head :: head"/>
    <meta charset="UTF-8">
    <title>Quản lý thức uống</title>
</head>

<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>


<!-- Page Wrapper -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <th:block th:replace="/admin/layout/navBar :: navBar"/>


    <!-- ============================================================== -->
    <!--Primary Content-->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="data-table-area ">
            <div class="container-fluid">
                <div class="row col-3" style="float:left">
                    <th:block th:replace="/admin/layout/left-sideBar :: leftTable"/>
                </div>
                <div class="row col-9">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="data-table-list">
                            <div class="row">
                                <div class="basic-tb-hd">
                                    <h2>Quản lý thức uống</h2>
                                </div>

                                <div class="col mb-2">
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-outline-success create">
                                            <i class="fa fa-plus-square"></i>
                                            Thêm thức uống mới
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive ">
                                <table id="tblProduct" class="table table-striped tb-padding-xs">
                                    <thead>
                                    <tr>
<!--                                        <th style="visibility: hidden">#</th>-->
                                        <th scope="col" class="fw-bold fs-6">#</th>
                                        <th scope="col" class="fw-bold fs-6">Tên thức uống</th>
                                        <th scope="col" class="fw-bold fs-6">Giá</th>
                                        <th scope="col" class="fw-bold fs-6">Số Lượng</th>
                                        <th scope="col" class="fw-bold fs-6">Danh mục</th>
                                        <th scope="col" class="fw-bold fs-6">Hình ảnh</th>
                                        <th colspan="2"> Thao tác</th>
                                        <!--                                        <th></th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-2">
                                <div class="d-flex justify-content-end">
                                    <a type="button" class="btn btn-danger restore" href="/products/restore">
                                        <i class="fa fa-trash-restore"></i>
                                        Khôi phục thức uống
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Page-->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <th:block th:replace="/admin/layout/footer :: footer"/>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<div class="loader hide"></div>
<th:block th:replace="/admin/layout/script::script"/>
<th:block th:replace="/admin/product/modalCreateProduct::modalCreateProduct"/>
<th:block th:replace="/admin/product/modalUpdateProduct::modalUpdateProduct"/>
<th:block th:replace="/admin/product/modalDeleteProduct::modalDeleteProduct"/>
<th:block th:replace="/admin/product/modalRestoreProduct::modalRestoreProduct"/>
</body>
<script>
    let parameters = [];
    let categoryId;
    let status = 0;
    let allCategory = [];
    $("input[type='radio']").on("click", function () {
        if ($("input[type='radio']:checked").val() == 0) {
            status = 0;
        }
        if ($("input[type='radio']:checked").val() == 1) {
            status = 1;
        }
        query(parameters, categoryId, status);

    })
    $('input[type="checkbox"]').on('click', function () {
        if ($('input[type="checkbox"]').is(":checked") === true) {
            parameters.push($(this).val());
            console.log(parameters)


        }
        if ($(this).prop("checked") === false) {
            for (let i = 0; i < parameters.length; i++) {
                if (parameters[i] == $(this).val()) {
                    parameters.splice(i, 1)
                }
            }
        }
        query(parameters, categoryId, status);
    });


    renderAll();

    function renderAll() {
        if (parameters.length === 0 && categoryId === undefined && ($("input[type='radio']:checked").val() == 0)) {
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json",

                    type: "GET",
                    url: location.origin + "/api/category/parent?hasParentId=1",
                },
            }).done((data) => {
                $.each(data, (c, cate) => {
                    allCategory.push(cate.id);
                })
            })
            handelDataTable();

        } else {
            console.log("cp=" + parameters, "cc=" + categoryId, "s=" + status)
            query(parameters, categoryId, status);
        }

    }

    function handleFilterAllCategory() {
        $(`.category`).removeClass("fw-bold");
        $("#idProductCatTreeAll").addClass("fw-bold");
        categoryId=undefined;
        queryFindCategory(parameters, allCategory, status);
    }

    function handelDataTable() {
        let category;
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "GET",
            url: `${location.origin}/api/category/parent?hasParentId=1`,
        })
            .done(function (data) {
                category = data;

                $("#tblProduct").DataTable({
                    ajax: {
                        contentType: 'application/json',
                        url: `${location.origin}/api/item?deleted=0`,
                        type: 'GET',

                        dataSrc: ''
                    },
                    searching: false,
                    columns: [
                        {data: 'id'},
                        {data: 'title',},
                        {
                            data: 'price', render: function (price) {
                                return new Intl.NumberFormat('vi-VN', {
                                    style: 'currency',
                                    currency: 'VND'
                                }).format(price)
                            }
                        },
                        {data: 'quantity'},
                        {
                            data: "categoryId", render: function (categoryId) {
                                for (let i = 0; i < category.length; i++) {
                                    if (categoryId == category[i].id) {
                                        return `<td>${category[i].categoryName}</td>`
                                    }
                                }

                            }
                        },
                        {
                            data: 'img',
                            render: function (img) {
                                return `<img src="${img}" style="width: 60px ; height: 60px"/>`
                            }

                        },
                        {
                            data: 'deleted',
                            render: function (data, type, row, meta) {
                                return `
                                            <div class="d-flex">
                                                <button class="btn btn-outline-warning edit me-2"
                                                        onclick="handlerShowModalEdit(${row.id})"
                                                        data-id="${row.id}">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                   ${data ? (`<button class="btn btn-outline-primary restore"
                                                                     onClick="handlerShowModalRestore(${row.id})"
                                                                     data-id="${row.id}">
                                                                    <i class="fa fa-undo"></i>
                                                                </button>`) :
                                                                (`<button type="button"
                                                                         class="btn btn-outline-danger delete "
                                                                         onClick="handlerShowModalDelete(${row.id})"
                                                                         data-id="${row.id}">
                                                                    <i class="fa fa-archive"></i>
                                                                </button>`)
                                }
                                            </div>
                                        `;
                            }, orderable: false
                        },
                    ],
                    columnDefs: [
                        // {
                        //     targets: 0 ,
                        //     visible: false
                        //
                        // },
                        {
                            targets: 2,
                            className: "text-right"
                        },
                        {
                            targets: 3,
                            className: "text-right"
                        },
                    ]
                });
            })
            .fail(function (jqXHR) {
                console.log("get drinks fails");
            })


        // });
    }

    function query(parameters, categoryId, status) {
        let query = "";
        if (parameters.length > 0) {
            query = "cp="
            for (param of parameters) {
                query += param + ",";
            }
        }

        if (categoryId !== undefined) {
            if (query.length > 0)
                query += "&";
            query += `cc=${categoryId}`;
        }

        if (query.length > 0)
            query += "&";
        query += `s=${status}`;
        console.log(query)
        $("#tblProduct").DataTable().ajax.url(`${location.origin}/api/item/filter?${query}`).load().draw();
    }

    function queryFindCategory(parameters, categoryId, status) {
        let query = "";
        if (parameters.length > 0) {
            query = "cp="
            for (param of parameters) {
                query += param + ",";
            }
        }

        if (categoryId !== undefined) {
            if (query.length > 0) {
                query += "&";
            }

            query += `cc=`;
            if (categoryId.length > 0) {
                for (cate of categoryId) {
                    query += cate + ",";
                }
            }
        }

        if (query.length > 0)
            query += "&";
        query += `s=${status}`;
        console.log(query)
        $("#tblProduct").DataTable().ajax.url(`${location.origin}/api/item/allCategory?${query}`).load().draw();
    }

</script>

<script>
    function handlerShowModalRestore(id){
        let category;
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "GET",
            url: `${location.origin}/api/category`,
        })
            .done(function (data) {

                category = data;
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-type": "application/json"
                    },
                    type: "GET",
                    url: `${location.origin}/api/item/` + id
                })
                    .done(function (data) {
                        $("#idProductRestore").val(data.id);
                        $("#productNameRestore").val(data.title);
                        $("#priceProductRestore").val(data.price);
                        $("#quantityProductRestore").val(data.quantity);
                        $("#desProductRestore").val(data.description);
                        for (let i = 0; i < category.length; i++) {
                            let id = category[i].id;
                            let name = category[i].categoryName;
                            if (category[i].id == data.categoryId) {
                                $("#catalogsRestore").append(
                                    `<option value="${id}" selected>${name}</option>`);
                            } else {
                                $("#catalogsRestore").append(
                                    `<option value="${id}">${name}</option>`);
                            }
                        }

                        $("#modalRestoreProduct").modal("show");
                    })
                    .fail(function (resp) {
                        alert("Show modal restore error");
                    });

            })
            .fail(function (jqXHR) {
                console.log("get drinks fails");
            });
    }
    function handlerShowCategory() {
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "GET",
            url: `${location.origin}/api/category/parent?hasParentId=true`,
        })
            .done(function (data) {
                $("#catalogsCreate").append(`
                             <option tabindex="-1" selected>---Lựa Chọn---</option>`)
                for (let i = 0; i < data.length; i++) {
                    let id = data[i].id;
                    let name = data[i].categoryName;
                    let parentId = data[i].parentId;
                    $("#catalogsCreate").append(`<option value=${parentId}>${name}</option>`);
                }
                $("#modalCreateProduct").modal("show");
            })
            .fail(function (jqXHR) {
                console.log("get drinks fails");
            })
    }

    function handlerShowCategoryParent() {
        $("#catalogsParentCreate option").remove();
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "GET",
            url: `${location.origin}/api/category/parent`,
        })
            .done(function (data) {
                $("#catalogsParentCreate").append(`<option >---Lựa Chọn---</option>`);
                for (let i = 0; i < data.length; i++) {
                    let id = data[i].id;
                    let name = data[i].categoryName;
                    let parent = data[i].parentId
                    $("#catalogsParentCreate").append(`<option value=${id}>${name}</option>`);

                }

            })
            .fail(function (jqXHR) {
                console.log("get drinks fails");
            })
    }

    //show modal create
    $("button.create").on("click", function () {
        handlerShowCategoryParent();
        handlerShowCategory();
    });


    //reset modal Create
    $("#modalCreateProduct").on('hidden.bs.modal', function () {
        $("#modalCreateProduct .modal-body .modal-alert-danger").empty();
        $("#modalCreateProduct .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
        $("#modalCreateProduct input.error").removeClass("error");
        $("#catalogsCreate option").remove();
        $("#frmCreateProduct")[0].reset();
    });

    // show modal delete


    function deleteProduct() {
        let product = {
            id: $("#idProductDelete").val(),
            title: $("#productNameDelete").val(),
            price: $("#priceProductDelete").val(),
            description: $("#desProductDelete").val(),
            inventory: $("#inventoryProductDelete").val()

        };
        $(".loader").removeClass('hide');
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "DELETE",
            url: `${location.origin}/api/item/deleted/` + product.id,
            data: JSON.stringify(product)
        })
            .done(function (data) {
                Toast.success('Đã Xóa Thành Công')
                window.location.href = '/products';
                console.log(data);
            })
            .fail(function (jqXHR) {
                let str = ``;
                if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, function (key, value) {
                        str +=
                            `<label id="${key}-error" class="error" for="${key}">${value}</lable>`;
                        $("#" + key).addClass("error");
                    });
                } else {
                    str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                }
                $("#modalDeleteProduct .modal-body .modal-alert-danger").removeClass("hide").addClass(
                    "show");
                $("#modalDeleteProduct .modal-body .modal-alert-danger").html(str);
            })
            .always(function () {
                $(".loader").addClass('hide');
            })
    }

    // handlerShowModalDelete
    function handlerShowModalDelete(id) {
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "GET",
            url: `${location.origin}/api/item/` + id
        })
            .done(function (data) {
                $("#idProductDelete").val(data.id);
                $("#productNameDelete").val(data.title);
                $("#priceProductDelete").val(data.price);
                $("#desProductDelete").val(data.content);
                $("#inventoryProductDelete").val(data.inventory);
                $("#modalDeleteProduct").modal("show");
            })
            .fail(function (resp) {
                alert("Show modal delete error");
            })

    }


    // set event for button delete
    $("#btnDeleteProduct").on("click", function () {
        deleteProduct();
    });
    $("#modalDeleteProduct").on('hidden.bs.modal', function () {
        $("#modalDeleteProduct .modal-body .modal-alert-danger").empty();
        $("#modalDeleteProduct .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
        $("#modalDeleteProduct input.error").removeClass("error");
        $("#frmDeleteProduct")[0].reset();
    });


    // show modal Edit
    function handlerShowModalEdit(id) {
        console.log("eee")
        let category;
        let parent;
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "GET",
            url: `${location.origin}/api/category/parent?hasParentId=true`,
        })
            .done(function (data) {

                category = data;
                $("#catalogsParentUpdate option").remove();
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-type": "application/json"
                    },
                    type: "GET",
                    url: `${location.origin}/api/category/parent`,
                })
                    .done(function (data) {
                        parent = data
                        $.ajax({
                            headers: {
                                "Accept": "application/json",
                                "Content-type": "application/json"
                            },
                            type: "GET",
                            url: `${location.origin}/api/item/` + id
                        })
                            .done(function (data) {
                                $("#idProductUpdate").val(data.id);
                                $("#productNameUpdate").val(data.title);
                                $("#priceProductUpdate").val(data.price);
                                $("#quantityProductUpdate").val(data.quantity);
                                $("#desProductUpdate").val(data.description);
                                for (let i = 0; i < category.length; i++) {
                                    let id = category[i].id;
                                    let name = category[i].categoryName;
                                    let parentId = category[i].parentId
                                    if (id == data.categoryId) {
                                        $.each(parent, (i, item) => {
                                            if (parentId == item.id) {
                                                $("#catalogsParentUpdate").append(`<option value=${item.id} selected >${item.categoryName}</option>`);
                                                $.each(category, (i, item) => {
                                                    if (item.parentId == $("#catalogsParentUpdate").val()) {
                                                        if (id == item.id) {
                                                            $("#catalogsUpdate").append(`<option value="${item.id}" selected>${item.categoryName}</option>`)
                                                        } else {
                                                            $("#catalogsUpdate").append(`<option value="${item.id}" >${item.categoryName}</option>`)
                                                        }
                                                    }
                                                })
                                            } else {
                                                $("#catalogsParentUpdate").append(`<option value=${item.id} >${item.categoryName}</option>`);

                                            }
                                        })
                                    }

                                }

                                $("#modalUpdateProduct").modal("show");
                            })
                            .fail(function (resp) {
                                alert("Show modal update error");
                            });


                    })
                    .fail(function (jqXHR) {
                        console.log("get drinks fails");
                    })


            })
            .fail(function (jqXHR) {
                console.log("get drinks fails");
            });


    }


    $("#modalUpdateProduct").on('hidden.bs.modal', function () {
        $("#modalUpdateProduct .modal-body .modal-alert-danger").empty();
        $("#modalUpdateProduct .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
        $("#modalUpdateProduct input.error").removeClass("error");
        $("#catalogsUpdate option").remove();
        $("#frmUpdateProduct")[0].reset();
    });

    $('#btnShowMenuType').on("click", function () {
        if ($("#menuType").hasClass("hide")) {
            $("#menuType").removeClass("hide");
        } else {
            $("#menuType").addClass("hide");
        }
    })
    $('#btnShowProduct').on('click', function () {
        if ($("#filterProduct").hasClass("hide")) {
            $("#filterProduct").removeClass("hide");
        } else {
            $("#filterProduct").addClass("hide");
        }
    })
    $('#btnShowGroupProduct').on('click', function () {
        if ($('#groupProduct').hasClass("hide")) {
            $('#groupProduct').removeClass("hide");
        } else {
            $('#groupProduct').addClass("hide");
        }
    })


</script>

</html>