<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalDeleteProduct">
    <div class="modal" tabindex="-1" id="modalDeleteProduct">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa thức uống</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">

                    </div>
                    <form id="frmDeleteProduct">
                        <div class="row">
                            <div class="mb-3 col-6">
                                <input type="text" id="idProductDelete" hidden>
                                <label for="productNameDelete" class="form-label fw-bold">Tên thức uống</label>
                                <input type="text" class="form-control" id="productNameDelete" name="productNameDelete" readonly>
                            </div>
                            <div class=" mb-3 col-6">
                                <label for="priceProductDelete" class="form-label fw-bold">Giá thức uống</label>
                                <input type="text" class="form-control number-separator inNumber"
                                       id="priceProductDelete" name="priceProductDelete" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                                <label for="desProductDelete" class="form-label fw-bold">Mô tả</label>
                                <textarea class="form-control" id="desProductDelete" name="desProductDelete"
                                          rows="4" cols="100%" readonly></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-outline-danger" id="btnDeleteProduct">Ngừng Hoạt Động </button>
                </div>
            </div>
        </div>
    </div>
</th:block>