<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalUpdateProduct">
    <div class="modal" tabindex="-1" id="modalUpdateProduct">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cập nhật thức uống</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">
                    </div>
                    <form id="frmUpdateProduct">
                        <div class="row">
                            <div class="row">
                                <div class="mb-3 col-12">
                                    <input type="text" id="idProductUpdate" hidden>
                                    <label for="productNameUpdate" class="form-label fw-bold">Tên thức uống</label>
                                    <input type="text" class="form-control" id="productNameUpdate" name="productNameUpdate">
                                </div>

                            </div>
                            <div class="row">
                                <div class=" mb-3 col-8">
                                    <label for="catalogsParentUpdate" class="form-label fw-bold">Loại Thực Đơn</label>
                                    <select class="form-select"  onclick="handelCategoryParent()" id="catalogsParentUpdate">

                                    </select>
                                </div>
                                <div class=" mb-3 col-4">
                                    <label for="priceProductUpdate" class="form-label fw-bold">Giá thức uống</label>
                                    <input type="text" class="form-control num-space"
                                           id="priceProductUpdate" name="priceProductUpdate">
                                </div>
                            </div>

                            <div class="row">
                                <div class=" mb-3 col-8">
                                    <label for="catalogsUpdate" class="form-label fw-bold">Danh mục</label>
                                    <select class="form-select"  id="catalogsUpdate">

                                    </select>
                                </div>
                                <div class=" mb-3 col-4">
                                    <label for="quantityProductUpdate" class="form-label fw-bold">Số Lượng</label>
                                    <input type="text" class="form-control num-space"
                                           id="quantityProductUpdate" name="quantityProductUpdate">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col mx-auto">
                                    <label for="uploadUpdate" class="form-label fw-bold">Tải ảnh lên:</label>
                                    <img id="previewImgUpdate" width="150px" class="img-circle mb-2"/>
                                    <input id="uploadUpdate" type="file" accept="image/jpeg, image/png"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                                <label for="desProductUpdate" class="form-label fw-bold">Mô tả</label>
                                <textarea class="form-control" id="desProductUpdate" name="desProductUpdate"
                                          rows="4" cols="100%"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-outline-primary" id="btnUpdateProduct">Sửa thức uống</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/admin/App.js"></script>
    <script>

        function handelCategoryParent(){
            $("#catalogsUpdate option").remove();
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                type: "GET",
                url: "http://localhost:8080/api/category/parent/"+ ($("#catalogsParentUpdate").val()) ,
            })
                .done(function (data) {
                    parent = data
                    $.each(parent,(i,item)=>{
                        $("#catalogsUpdate").append(`<option value=${item.id} selected>${item.categoryName}</option>`);

                    })

                })
                .fail(function (jqXHR) {
                    console.log("get drinks fails");
                })
        }

        $('#uploadUpdate').change(function () {
            const fileUpdate = this.files[0];
            if (fileUpdate) {
                let readerUpdate = new FileReader();
                readerUpdate.onload = function (event) {
                    $('#previewImgUpdate').attr('src', event.target.result);
                }
                readerUpdate.readAsDataURL(fileUpdate);
            }
        });


        function updateProduct() {
            let product = new Product();
            product.id = $("#idProductUpdate").val()
            product.title = $("#productNameUpdate").val();
            product.price = $("#priceProductUpdate").val();
            product.quantity=$("#quantityProductUpdate").val();
            product.content = $("#desProductUpdate").val();
            product.categoryId = $("#catalogsUpdate").val();
            product.userId = 1;
            product.deleted = false;
            if ($("#uploadUpdate")[0].files[0] != null) {
                product.img= $("#uploadUpdate")[0].files[0];
            }
            console.log(product);
            $.ajax({
                headers : {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                type: "PUT",
                url: 'http://localhost:8080/api/item/edit/'+ product.id,
                data: JSON.stringify(product)
            })
                .done(function (data) {
                    alert( "Thức uống đã được cập nhật")
                    window.location.href="/products"
                })
                .fail(function (jqXHR) {
                    let str = ``;
                    if (jqXHR.responseJSON) {
                        $.each(jqXHR.responseJSON, function (key, value) {
                            str += `<label id= "${key}-error" class="error" for="${key}">${value}</label><br>`;
                            $("#" + key).addClass("error");
                        });
                    } else {
                        str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                    }
                    $("#modalUpdateDrink .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                    $("#modalUpdateDrink .modal-body .modal-alert-danger").html(str);
                })
                .always(function () {
                    $(".loader").addClass('hide');
                })
        }
        $("#btnUpdateProduct").on("click", function () {
           updateProduct();
        });
    </script>
</th:block>